<!doctype html>
<html lang="pt-BR" data-ng-app="CelularDireto">
    <head>
        <meta charset="utf-8">

        <title>Celular Direto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Celular Direto">

        <link rel="stylesheet" href="assets/css/libs.css?v=1.0">
        <link rel="stylesheet" href="assets/css/styles.css?v=1.0">
    </head>

    <body data-ng-controller="appController as vm">
        <div class="container">
            <div class="text-left position-absolute" data-ng-if="vm.globalData.goBack"><button class="btn" data-ng-click="vm.globalData.goBack()"><< Voltar</button></div>
        </div>
        <div class="container text-center">
            <h1 class="text-info">Celular Direto</h1>
            <div data-ng-view class="animate-fade"></div>
        </div>

        <script src="assets/js/libs.js?v=1.0" inline></script>
        <script src="assets/js/scripts.js?v=1.0" inline></script>
    </body>
</html>
