@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.cadastro {
    &__contratacao {
        @include border-radius(1rem);
        width: 100%;
        background-color: #717171;
        color: #fff;
        padding: .5rem;
        margin-top: 3rem;
    }
    &__contratacao-concluida {
        padding: 3rem 0;
    }
    &__form {
        margin-top: 1rem;
    }
}
