<section class="cadastro">
    <h2 class="text-secondary">Cadastro</h2>

    <div data-ng-show="!vm.cadastroRealizado">
        <p class="text-muted">Complete seu cadastro para concluir!</p>
    
        <div class="cadastro__contratacao"><strong>CONTRATAÇÃO: </strong> {{ vm.globalData.plataforma.nome }} > {{ vm.globalData.plano.franquia }}</div>

        <form name="cadastroForm" class="cadastro__form text-left" data-ng-submit="vm.sendData()">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" data-ng-model="vm.cadastro.nome" placeholder="Digite seu nome" required>
                    <small class="text-danger" data-ng-show="cadastroForm.nome.$error.required && cadastroForm.nome.$dirty">Nome é obrigatório</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" data-ng-model="vm.cadastro.email" placeholder="Digite seu e-mail" required>
                    <small class="text-danger" data-ng-show="cadastroForm.email.$error.required && cadastroForm.email.$dirty">E-mail é obrigatório</small>
                    <small class="text-danger" data-ng-show="cadastroForm.email.$error.email">Formato de e-mail inválido</small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="nascimento">Nascimento</label>
                    <input type="date" class="form-control" id="nascimento" name="nascimento" data-ng-model="vm.cadastro.nascimento" required>
                    <small class="text-danger" data-ng-show="cadastroForm.nascimento.$error.required && cadastroForm.nascimento.$dirty">Digite sua data de nascimento</small>
                </div>
                <div class="form-group col-sm-4">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" data-ng-model="vm.cadastro.cpf" data-ng-maxlength="11" data-ng-minlength="11" required>
                    <small class="text-danger" data-ng-show="cadastroForm.cpf.$error.required && cadastroForm.cpf.$dirty">Digite seu CPF</small>
                    <small class="text-danger" data-ng-show="cadastroForm.cpf.$error.maxlength && cadastroForm.cpf.$dirty || cadastroForm.cpf.$error.minlength && cadastroForm.cpf.$dirty">CPF inválido</small>
                </div>
                <div class="form-group col-sm-4">
                    <label for="telefone">Telefone</label>
                    <input type="tel" class="form-control" id="telefone" name="telefone" data-ng-model="vm.cadastro.telefone" data-ng-minlength="11" placeholder="(xx) xxxx-xxxx" required>
                    <small class="text-danger" data-ng-show="cadastroForm.telefone.$error.required && cadastroForm.telefone.$dirty">Digite seu telefone</small>
                    <small class="text-danger" data-ng-show="cadastroForm.telefone.$error.minlength && cadastroForm.telefone.$dirty">Telefone inválido</small>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" data-ng-disabled="cadastroForm.$invalid">Concluir</button>
            </div>
        </form>
    </div>
    <div data-ng-show="vm.cadastroRealizado" class="cadastro__contratacao-concluida">
        Contratação realizada com sucesso!
    </div>
</section>
