html, body {
    min-height: 100%;
}

body {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(195,195,195,1) 100%);
    padding-top: 1rem;
}

h1 {
    margin: 3rem;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}
