@mixin transition($transition: null) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin border-radius($radius) {
	-webkit-border-radius:	 $radius;
	-moz-border-radius: 		$radius;
	border-radius: 			$radius;
}

@mixin reset-absolute-position() {
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
}

@mixin all-center() {
	position: absolute;
	left: auto;
	right: 50%;
	top: auto;
	bottom: 50%;
	-moz-transform: translate(50%, 50%);
	-webkit-transform: translate(50%, 50%);
	-o-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}

@mixin vertical-center($position: absolute, $left: auto, $right: auto) {
	position: $position;
	left: $left;
	right: $right;
	top: auto;
	bottom: 50%;
	-moz-transform: translate(0%, 50%);
	-webkit-transform: translate(0%, 50%);
	-o-transform: translate(0%, 50%);
	-ms-transform: translate(0%, 50%);
	transform: translate(0%, 50%);
}

@mixin horizontal-center($position: absolute, $top: auto, $bottom: auto) {
	position: $position;
	left: auto;
	right: 50%;
	top: $top;
	bottom: $bottom;
	-moz-transform: translate(50%, 0%);
	-webkit-transform: translate(50%, 0%);
	-o-transform: translate(50%, 0%);
	-ms-transform: translate(50%, 0%);
	transform: translate(50%, 0%);
}

@mixin background-img($url: null, $repeat: null, $size: null, $position: null ) {
    background-image: url($url);
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}
