// animations
.animate-fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

.animate-fade.ng-enter.ng-enter-active {
    opacity:1;
}

.animate-fade.ng-leave {
    transition:0.5s linear all;
    opacity:1;
}

.animate-fade.ng-leave.ng-leave-active {
    opacity:0;
}
