@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.plataformas {
    .row {
        margin-top: 2.5rem;
    }
    .box {
        @include border-radius(1rem);
        background-color: #ccc;
        padding: 3rem .8rem;
        margin: 1rem 0;
        .btn {
            text-transform: uppercase;
        }
        &__title {
            font-weight: 600;
            text-transform: uppercase;
        }
        &__desc {
            font-style: italic;
            margin: 3rem 0;
        }
    }
}
