<section class="plataformas">
    <h2 class="text-secondary">Plataformas</h2>
    <p class="text-muted">Escolha a plataforma que mais se adequa à sua necessidade!</p>

    <div class="row">
        <div class="col-md-4" data-ng-repeat="plataforma in vm.plataformas">
            <div class="container box">
                <p class="box__title">{{ plataforma.nome }}</p>
                <p class="box__desc">{{ plataforma.descricao }}</p>
                <button class="btn btn-info" data-ng-click="vm.setPlataforma(plataforma)">Selecionar</button>
            </div>
        </div>
    </div>
</section>