<section class="planos">
    <h2 class="text-secondary">Planos</h2>
    <p class="text-muted">Segue abaixo os planos para a plataforma selecionada:</p>

    <div class="planos__plataforma">{{ vm.globalData.plataforma.nome }}</div>
    
    <div class="row">
        <div class="col-md-4" data-ng-repeat="plano in vm.planos" data-ng-if="plano.ativo">
            <div class="container box">
                <p class="box__franquia">{{ plano.franquia }}</p>
                <p class="box__valor text-secondary">R${{ plano.valor }}</p>
                <dl class="box__aparelho" data-ng-if="plano.aparelho">
                    <div class="row">
                        <div class="col-6">
                            <dt>Aparelho: </dt><dd>{{ plano.aparelho.nome }}</dd>
                        </div>
                        <div class="col-6">
                            <dt>Valor: </dt><dd>R${{ plano.aparelho.valor }}</dd>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <dt>Parcelas: </dt><dd>{{ plano.aparelho.numeroParcelas }}</dd>
                        </div>
                        <div class="col-6">
                            <dt>Valor parcela: </dt><dd>R${{ plano.aparelho.valorParcela ? plano.aparelho.valorParcela : plano.aparelho.valor }}</dd>
                        </div>
                    </div>
                </dl>
                <button class="btn btn-info" data-ng-click="vm.setPlano(plano)">Selecionar</button>
            </div>
        </div>
    </div>
</section>
