@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.planos {
    &__plataforma {
        @include border-radius(1rem);
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #717171;
        color: #fff;
        padding: .5rem;
        margin-top: 3rem;
    }
    .box {
        @include border-radius(1rem);
        background-color: #ccc;
        padding: 3rem .8rem;
        margin: 1rem 0;
        .btn {
            text-transform: uppercase;
        }
        &__franquia {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 3rem;
            margin-bottom: 0;
        }
        &__valor {
            font-weight: 600;
            font-size: 1.5rem;
        }
        &__aparelho {
            font-style: italic;
            color: #525252;
        }
    }
}